################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HackRFDisplay/.vs/HackRFDisplay/v16
*.tlog
*.obj
*.log
*.pdb
*.idb
/HackRFDisplay/HackRFScreenShoter/x64
*.recipe
*.ilk
/HackRFDisplay/x64/Debug/HackRFDisplay.vcxproj.FileListAbsolute.txt
/HackRFDisplay/x64/Release/HackRFDisplay.vcxproj.FileListAbsolute.txt
*.iobj
*.ipdb
