################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HackRFDisplay/.vs/HackRFDisplay/v16
